  #fixed {
    position: fixed;
    width: 160px;
    height: 100px;
    top: 0;
    left: 0;
    background: lightgray;
    z-index: 1;
  }

  #relative {
    position: relative;
    height: 150px;
    background:lightgray;
  }

  #absolute {
    position: absolute;
    background: darkgray;
    height: 100px;
    left: 60%;
    top: 50px;
  }

  .textalign {
    margin: 0 auto;
    width: 300px;
  }

  p {
    font-size: 20px;
  }